.datatable {
    height: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @media (max-width:575px) {
        padding: 4px;
   }

   .datagrid {

    @media (max-width:575px) {
        font-size: 10px;
         
   }

   }

    .datatableTitle {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-self: flex-end;
        margin-bottom: 10px;
    

        .title {
            font-weight: bold;
            font-size: 14px;
            color: rgb(161, 157, 157);

            
        }

        .button {
            max-width: 100px;
            max-height: 30px;
            text-decoration: none;
            background: rgba(248, 192, 192, 0.678);
            border-radius: 5px;
            border: 1px solid rgb(218, 97, 97, 0.5);
            

            .buttonText {
                text-align: center;
                padding: 5px;
                color: #FFFFFF;
            }

           
        }
    }

    .cellWithImg {
        display: flex;
        align-items: center;

        .cellImg {
            max-width: 32px;
            max-height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;

            @media (max-width:575px) {
                width: 15px;
                height: 15px;
           }
        }
    }

    .cellWithStatus {
        padding: 5px;
        border-radius: 5px;

        @media (max-width:575px) {
            font-size: 7px;
       }

        &.active {
            background: rgba(0, 128, 0, 0.103) ;
            color:green;
        }

        &.available {
            background: rgba(0, 128, 0, 0.103) ;
            color:green;
        }

        &.done {
            background: rgba(0, 128, 0, 0.103) ;
            color:green;
        }

        &.pending {
            background: rgba(218, 165, 32, 0.103) ;
            color:goldenrod;
        }

        &.on-road {
            background: rgba(218, 165, 32, 0.103) ;
            color:goldenrod;
        }

        &.passive {
            background: rgba(220, 20, 60, 0.103);
            color:crimson;
        }

        &.none {
            background: rgba(220, 20, 60, 0.103);
            color:crimson;
        }

        &.canceled {
            background: rgba(220, 20, 60, 0.103);
            color:crimson;
        }
        
    }

    .cellAction  {
        
        .link {
            text-decoration: none;
        }

        .viewButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: rgb(164, 190, 247);
            border: 1px dotted rgba(0, 0, 139, 0.411);
            cursor:pointer;

            @media (max-width:575px) {
                width: 10px;
                font-size: 5px;
           }
        }

      
    }
}