.table {


    .tableCell {

            @media (max-width:992px) {
                font-size: 8px;
        }
            @media (max-width:575px) {
                font-size: 5px;
           }
        }
    .cellWrapper {
        display: flex;
        align-items: center;

        

        .image {
            border-radius: 50px;
            max-width: 40px;
            max-height: 40px;

            @media (max-width:575px) {
                width: 15px;
                height: 15px;
           }
        }
    }

    .status {
        padding: 5px;
        border-radius: 5px;

        &.active {
            background: rgba(0, 128, 0, 0.103) ;
            color:green;
        }

        &.pending {
            background: rgba(218, 165, 32, 0.103) ;
            color:goldenrod;
        }

        &.passive {
            background: rgba(220, 20, 60, 0.103);
            color:crimson;
        }
    }
}