.new {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: scroll;

    .newContainer {
        flex: 6;
        

        .headerContainer, .footerContainer {
            -webkit-box-shadow: -12px 14px 25px 8px rgba(107,107,107,1);
            -moz-box-shadow: -12px 14px 25px 8px rgba(107,107,107,1);
            box-shadow: -12px 14px 18px 8px rgba(107,107,107,1);
            border-radius: 5px;
            padding: 20px;
            position: relative;
            margin: 40px 16px;
            display: flex;

            .newTitle {
                font-size: 26px;
                color: rgb(161, 157, 157);
            }

            .leftBox{
                flex: 1;
                text-align: center;

                .footerImg {
                    width: 100px;
                    height: 100px;
                    border-radius: 50px;
                    object-fit: cover;
                }
            }

            .rightBox {
                flex: 2;

                form {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    justify-content: space-around;

                    .formInput {
                        width: 40%;

                        label {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            .icon {
                                cursor: pointer;
                            }
                        }

                        input {
                            width: 100%;
                            padding: 5px;
                            border: 0.5px solid rgba(248, 192, 192, 0.672);
                            border-radius: 5px;
                        }
                    }

                    button {
                        width: 150px;
                        padding: 10px;
                        border: none;
                        background: rgba(248, 192, 192, 0.672);
                        border-radius: 5px;
                        cursor: pointer;
                        color: aliceblue;
                        margin-top: 10px;
                    }
                }
            }
        }
        
    }
    
}