.app.dark {
    background: #222;
    color: aliceblue;

    .navbar {
        .wrapper {

            .select {
                color: aliceblue;

                .option {
                    color: aliceblue;
                    background: #222;
                }
            }
            .items {
                .item {
                    .link {
                    color: aliceblue;
                    }
                }
            }
        }
            
    }

    .counter {
        color: #222;
    }

    .chartGrid {
        color: aliceblue;
    }

    .table {
        background: #222;

        .tableCell {
            color: aliceblue;
        }
    }

    .sidebar {
        background: rgb(218, 97, 97);

        li {

            &:hover {
                background: #222;
            }
        }
    }

    .datatable {
        .datagrid {
            color: aliceblue;
            
            .viewButton {
                border: 1px dotted aliceblue;
            }
        }
        
    }

    .noteslist {
        .datagrid {
            color: aliceblue;
        }        
    }

    .single {

        .editButton {
            color: aliceblue;
        }
    }

    input {
        background-color: transparent;
    }
}