.chart {
    flex: 4;
    -webkit-box-shadow: -12px 14px 25px 8px rgba(107,107,107,1);
    -moz-box-shadow: -12px 14px 25px 8px rgba(107,107,107,1);
    box-shadow: -12px 14px 25px 8px rgba(107,107,107,1);
    border-radius: 5px;
}